<%- include('./partials/header') %>

<div class="w-[90vw] bg-[#1F2937] h-[50vh] m-auto pt-1 mt-10 rounded-lg ">
  <h1 class="text-4xl text-center font-bold pt-5 mt-20 text-white">This is Homepage</h1>

  <div class="btns  justify-center mt-20 flex gap-10" >
    <a href="/register" class="bg-blue-500 px-3 py-2  rounded-md  text-xl ">Continue Surfing</a>
    <a href="/login" class="bg-blue-500 px-3 py-2  rounded-md text-xl ">Start Your Journey</a>
  </div>
</div>

<%- include('./partials/footer') %>